.Footer{
    background-color: rgb(240, 240, 240);
}

.rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.columns {
    float: left;
    /* width: 25%; */
    padding-top: 35px;
    padding-left: 40px;
    /* height: 300px; Should be removed. Only for demonstration */
  }

.imgSciFac {
    width: 40% ;
    height: 40% ;
}
.fontSciCr {
    font-family: 'Kanit', sans-serif;
    /* padding-left : 100px */
}
.fontSciAddress {
    font-family: 'Athiti', sans-serif;
    /* padding-left : 100px */
}