.Problem {
    background: rgb(65,185,119);
    background: linear-gradient(90deg, rgba(65,185,119,1) 0%, rgba(65,168,147,1) 35%, rgba(24,155,172,1) 100%);
}
.problemImg {
    background-image: url("../asset/floodAtKU.JPG");
    /* background-image: linear-gradient(90deg, rgba(65,185,119,0.53) 0%, rgba(65,168,147,0.6) 35%, rgba(24,155,172,0.73) 100%),url("../asset/floodAtKU.JPG") no-repeat center center fixed ; */
    /* background-image:
    linear-gradient(to right, rgba(65, 185, 119, 0.8), rgba(65,168,147,0.5), rgba(24,155,172,0.6)),
    url("../asset/floodAtKU.JPG"); */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    /* text-align: center; */
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.bg-text {
    /* border-radius: 30px ; */
    /* Fallback color */
    /* background-color: rgb(0,0,0); */
    /* Black w/opacity/see-through */
    /* background-color: rgba(0,0,0, 0.4);  */
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48%;
    padding: 20px;
    text-align: center;
  }
.fontProblem {
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Athiti', sans-serif;
    font-weight: bold;
    font-size: 350%;
}
.cardProblem {
    width: 50%;
    height: 51%;
    background-color: aliceblue;
    opacity: 0.9;
    border-radius: 25px ;
    /* Fallback color */
    /* background-color: rgb(0,0,0);  */
    /* Black w/opacity/see-through */
    /* background-color: rgba(0,0,0, 0.4);  */
    /* color: white; */
    /* font-weight: bold; */
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.sizeMapProblem {
    width: 58% ;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontDetailProblem{
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Athiti', sans-serif;
    font-weight: bold;
    font-size: large;
    /* padding-left: 40px; */
}