.ResultCard{
    -webkit-box-shadow: 17px 10px 109px -67px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 10px 109px -67px rgba(0,0,0,0.75);
    box-shadow: 17px 10px 109px -67px rgba(0,0,0,0.75);
    background-color: red;
    margin: 10px;
    flex:1;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    overflow: hidden;
}